@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#header {
  background-color: antiquewhite;
  font-size: 20px;
  display: block;
  width: fit-content;
  align-items: center;
  margin-left: 40%;
  color: rgb(57, 210, 15);
}

#search {
  border-radius: 50px;
  width: 40%;
  background-color: bisque;
  justify-content: center;
  margin-left: 20%;

}

#search_label {
  padding-left: 50px;
}

form {
  padding: 10px 30% 0;
  border: solid #0ed8a2 3px;
  background-color: black;
}

#user {
  border-radius: 20px;
  border-color: red;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.username {
  display: block;
  font-size: 20px;
  color: rgb(16, 159, 199);
  padding: auto;
}


#password {
  border-radius: 20px;
  border-color: red;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.password {
  display: block;
  font-size: 20px;
  color: rgb(16, 159, 199);
  padding: auto;

}

#email {
  border-radius: 20px;
  border-color: red;
  font-size: 20px;
  margin-left: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.email {
  display: block;
  font-size: 20px;
  color: rgb(16, 159, 199);
  padding: auto;

}

#date {
  border-radius: 20px;
  border-color: red;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.date {
  display: block;
  font-size: 20px;
  color: rgb(16, 159, 199);
  padding: auto;
}

#time {
  border-radius: 20px;
  border-color: red;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.time {
  display: block;
  font-size: 20px;
  color: rgb(16, 159, 199);
  padding: auto;
}

#submet {
  border-radius: 20px;
  border-color: rgb(255, 206, 8);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submet {
  display: block;
  font-size: 20px;
  color: rgb(17, 225, 35);
  padding: auto;
}

#reset {
  border-radius: 20px;
  border-color: rgb(255, 206, 8);
  font-size: 20px;
  margin-left: 41px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reset {
  display: block;
  font-size: 20px;
  color: #ff0000;
  padding: auto;
}



.footer {
  background-color: black;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.2em;
  font-weight: 600;
}

.footer-title span {
  color: yellow;

}

.footer.social-icon {
  font-size: 1.5em;
}