@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #00FFFF;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;

}

.logo {
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;

}

.navigation a {
  text-decoration: none;
  color: red;
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 30px;

}

.navigation a:hover {
  color: blue
}

section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(https://wallpapercave.com/dwp1x/wp10985561.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.main h2 {
  color: #00FFFF;
  font-size: 1.5em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: blue;
  font-size: 3em;
  font-weight: 600;

}

.main h3 {
  color: yellow;
  font-size: 2em;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 30PX;
}

.main-btn {
  color: red;
  background-color: yellow;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: gray;
  transform: scale(1.1);

}

.social-icons {
  color: red;
  font-size: 2em;
  padding-right: 30px;

}

.title {
  display: flex;
  justify-content: center;
  color: blue;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;

}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}

.card {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1/30%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  background-color: gray;
  transform: scale(1.1);
}

.icon {
  color: #0ff;
  font-size: 2em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: yellow;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}


.projects {
  background-color: black;


}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: #fff;
  border: 1px solid yellow;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}

.project-card:hover.project-img {
  opacity: 0.9;
}

.project-img img {
  width: 100%
}

.project-info {
  padding: 1em;
}

.project-category {
  font-size: 0.8em;
  color: black;

}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: blue;

}

.more-details:hover {
  color: gray;
}

#content {
  background-color: #fff
}

.hh {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact .icon {
  font-size: 1em;
  display: flex;
}

.contact.info h3 {
  color: black;

}




form {
  padding: 0px 30% 0;
  width: 100%;
}

#user {
  border-radius: 20px;
  border-color: red;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.username {
  display: block;
  font-size: 20px;
  color: rgb(16, 159, 199);
  padding: auto;
}


#password {
  border-radius: 20px;
  border-color: red;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.password {
  display: block;
  font-size: 20px;
  color: rgb(16, 159, 199);
  padding: auto;

}

#email {
  border-radius: 20px;
  border-color: red;
  font-size: 20px;
  margin-left: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.email {
  display: block;
  font-size: 20px;
  color: rgb(16, 159, 199);
  padding: auto;

}

#date {
  border-radius: 20px;
  border-color: red;
  font-size: 20px;
  margin-left: 44px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.date {
  display: block;
  font-size: 20px;
  color: rgb(16, 159, 199);
  padding: auto;
}

#time {
  border-radius: 20px;
  border-color: red;
  font-size: 20px;
  margin-left: 42px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.time {
  display: block;
  font-size: 20px;
  color: rgb(16, 159, 199);
  padding: auto;
}

#submet {
  border-radius: 20px;
  border-color: rgb(255, 206, 8);
  font-size: 20px;
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submet {
  display: block;
  font-size: 20px;
  color: rgb(17, 225, 35);
  padding: auto;
}

#reset {
  border-radius: 20px;
  border-color: rgb(255, 206, 8);
  font-size: 20px;
  margin-left: 44px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reset {
  display: block;
  font-size: 20px;
  color: #ff0000;
  padding: auto;
}

.footer {
  background-color: black;
  color: #fff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.2em;
  font-weight: 600;
}

.footer-title span {
  color: yellow;

}

.footer.social-icon {
  font-size: 1.2em;
}




html {
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 600px) {
  header {
    padding: 10px 15px;
  }

  .navigation a {
    padding-left: 100px;
  }

  .title {
    font-size: 1em;
  }

  .section {
    padding-right: 100px;
  }

  .main-content h2 {
    font-size: 1em;
  }

  .main-content h3 {
    font-size: 1.6em;
  }

  .content {
    flex-direction: row;
    align-items: center;
  }

  .container {
    display: flex;
    display: grid;
    flex-wrap: wrap;
    flex-direction: grid;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
  }


  .hh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

*/ .container {
  display: grid;
  height: auto;
  width: auto;
  margin: auto;
  padding-left: 200px;
  grid-auto-columns: repeat(5, 200px);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
  grid-template-areas:
    "top  topCenter topRight"
    "bottomleft bottomRight";
  border: 3px;
  text-align: center;
  justify-content: center;

}


.box:hover {

  background-color: gray;
  transform: scale(1.1)
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #00FFFF;
  width: 450px;
  height: 200px;
  padding: 1px;
  border-radius: 10px;
  margin: 15px;
  transition: 0.7s ease;
}

.iframe {
  width: 560px;
  height: 200px;
  border-radius: 10px;
  border-color: yellow;

}

img {
  width: 450px;
  height: 200px;
  border-radius: 10px;

}


.os {
  color: red;
  background-color: black;
  display: flex;
  flex-wrap: wrap;

}

#fir {
  grid-area: topRight
}

#second {
  grid-area: bottomRight
}

#d {
  grid-area: bottomleft
}

#btom {
  grid-area: top;
}


.skinny {
  color: orange;
  font-size: 35px;
  font-style: oblique;
  text-align: center;
}

ol {
  text-decoration: none;
}

li a:hover {
  color: red;
}

li {
  text-align: center;
  color: yellow;
  justify-content: center;

}



.skinny {
  color: orange;
  font-size: 35px;
  font-style: oblique;
  text-align: center;
}